.margin-top{
    margin-top: 12px;
}
.brand{
    width: 85px;
    heght: 70px;
}
.Img{

    width:440px;
    height:260px;

}
.navText{
    color:green;
}
.indColor{

    background-color: #cccccc;

}