.margin-top{
    margin-top: 12px;
}

.Img{

    width:440px;
    height:260px;

}
.navText{
    color:green;
}
.indColor{

    background-color: #cccccc;

}

.brand{
    width: 75px;
    heght: 60px;
}