<div class="container main-content">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h1 class="text-center"><strong>Test savollarni qo'shish</strong></h1>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form id="CreateQuestionForm" name="CreateQuestionForm"  ng-controller="AddQuestionCtrl as vm"
                      class="form-horizontal" role="form" ng-submit="vm.addQuestion(question)">
                    <div class="form-group">
                        <h3><b> Savol: </b></h3>
                        <input type="text" class="form-control"
                               name="question" required="" ng-model="question.question" />
                    </div>

                    <h3 class="text-center"><b>Javob <i>A</i> :</b></h3>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control"
                                   name="aVariant" required="" ng-model="question.aAns" />
                        </div>
                    </div>

                    <h3 class="text-center"><b>Javob <i>B</i> :</b></h3>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control"
                                   name="bVariant" required="" ng-model="question.bAns" />
                        </div>
                    </div>

                    <h3 class="text-center"><b>Javob <i>C</i> :</b></h3>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control"
                                   name="cVariant" required="" ng-model="question.cAns" />
                        </div>
                    </div>

                    <h3 class="text-center"><b>Javob <i>D</i> :</b></h3>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control"
                                   name="dVariant" required="" ng-model="question.dAns" />
                        </div>
                    </div>
                    <h3 class="text-center"><b>To'g'ri javob :</b></h3>
                    <div class="row">
                        <div class="col-md-9">
                            <select name="javob" class="col-md-3 form-control" ng-model="question.rAns">
                                <option value="a">A</option>
                                <option value="b">B</option>
                                <option value="c">C</option>
                                <option value="d">D</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning">Saqlash</button>
                    </div>
                </form>
            </div>
            <br>
        </div>
        <br/>
    </div>
</div>