<script>
    $('#myCarousel').carousel({
        interval: 10000
    });
</script>
<style type="text/css">
    .carousel-control {
        padding-top:10%;
        width:5%;
    }
</style>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home"><img class="brand" src="assets\images\Brand.png" alt="Brand" class="img-responsive"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="root.signup">Рўйҳатдан ўтиш</a></li>
                <li><a ui-sref="root.users">Иштрокчилар рўйхати</a></li>
                <li><a ui-sref="root.questions">Саволлар рўйҳати</a></li>
                <li><a ui-sref="root.questadd">Савол қўшиш</a></li>
                <li><a ui-sref="root.start">Тестни бошлаш</a></li>
            </ul>
            <div class="navbar navbar-right">
                <a ui-sref="root.signin"><button class="btn btn-info margin-top">Кириш</button></a>
            </div>
        </div>
    </div>
</nav>