<div class="indColor mainMargin-top">
<div class="row-fluid">
    <div class="col-cs-12">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/assets/images/111.png" width="100%">
                </div>
                <div class="item">
                    <img src="/assets/images/222.png" width="100%">
                </div>
                <div class="item">
                    <img src="/assets/images/333.png" width="100%">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
</div>

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-warning text-capitalize  shrift text-center thumbnail">Ширин қовунлар мамлакатига хуш келибсиз!</h1>
        </div>
    </div>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h4"><b>Амири</b></p></div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/amiri.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <p class="text-justify">
                                    <b>Амири. </b>Ўсимлик ўрта ўлчамли, палаги- ўрта узунликда. Барги буйраксимон шаклда, қирилмаган. Гули айрим
                                    жинсли. Меваси узунчоқ цилиндрсимон шаклда, учлари тўмтоқ. Мева вазни 2,0-3,0 кг. Мева юзаси бир
                                    оз нотекис, ранги ёрқин сариқ. Сурати- яшил-қизғиш тасмачалар. Тўрсиз. Пўчоғи юмшоқ. Мева ети қалин,
                                    пушти-оқ тусли, ерувчан, майн, ширали, жуда ширин. Уруғxонаси ўрта хажмли. Уруғxона ранги- пушти.
                                    Уруғдонлари ёпиқ, ғоваксимон. Уруғи ўрта хажмли, наштарсимон шаклда, силлиқ, сариқ тусли. Тезпишар
                                    нав, майсалар пайдо бўлишидан этилгунига қадар ўсув даври 70-76 кун. Хосилдорлиги 13-15 т/га. Ташишга
                                    чидамлилиги ва сақланувчанлиги- ёмон. Кўчат усулида вақтинчалик плёнка остида етиштирилади.
                                    ўзСПЕКИТИ ва ТошДАУ селекцияси нави. Зуев В.И., Ганиxўжаева Р.А., Каримшоев У. ва Халимова М.У.
                                    томонидан яратилган. Республика бўйч раёнлашган.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h4"><b>Челаки</b></p></div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/chelyaki.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <p class="text-justify">
                                    Челяк. "Тарпедага" охшаб кетадиган катта қовунлар, лекин думолоқрок шакилли. Тамлари бир бирига охшаш. Ганиxўжаева Р.А., Каримшоев У. ва Халимова М.У.
                                    томонидан яратилган. Республика бўйича раёнлашган.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Қизил қовун</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img  class="img-responsive" src="/assets/images/qizil_qovun.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Қизил қовун.</b>  Ичкариси қизик бир олов ранга охшаш. Мазаси такрорланмас ва йоқимлидир, ахоли ўртасида хуш кориб танаул қиладиганлар кўплаб топилади.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Босиболди</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/basvaldi.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Басволди.</b> Ичкариси яшилроқ ранг бўлиб, камйоб турлардан хисобланади. Амирига жуда ўхшайди.
                                    Жуда бир ўзиа хос хусусийатга эга бўлиб, яшил майса ва асал тамини беради.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Кўкча</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/kukcha.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Кукча.</b> Жуда машхур бир навлардандир. Эти қатиқ, ширин, лекин унчалик тўйимли эмас.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Жўра қовун</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/jura_kovun.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Жура Қовун.</b> Жуда нойоб турлардан биридир.Бир марта тамини тоганингиздан кейин яна хохлаб қоласиз. Ширин, ажойиб тамга эга бўлиб тўйимлидир.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Оби навот</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/obi_navod.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Оби Навват.</b> Думалоқ, очиқ сариқ рангли қовун. Жуда шири бўлганлиги сабаб қовунлар ичида энг машхурларидан биридир.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Маҳаллий сариқ ҳандалак</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img  class="img-responsive" src="/assets/images/kondolyaki.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Маҳаллий сариқ ҳандалак. </b>Ўсимлик ўрта ўлчамли, палаги ўрта узунликда. Барги буйраксимон шаклда, ўрта хажмли. Гули гермофродит,
                                    еркак жинсли. Меваси япалоқ шаклда, ўрта хажмли. Мева вазни 0,8-2,0 кг. Мева юзаси бир оз тилим,
                                    ранги сариқ. Сурати- богим чегараларида сариқ-яшил тасмачалар. Тўри тўла, мева юзасини ёппасига
                                    қоплаган, майда катакли, мевабандида еса қуюқроқ. Пўчоғи юмшоқ. Мева ети ўрта қалин, сарғиш
                                    тусли, ғоваксимон, ширали, майн, ширин. қуруқ модда миқдори - 7,3-8,9%, умумий қанд моддаси миқдори
                                    - 6,1-7,8%. Уруғxонаси ўрта хажмли. Уруғдонлари нам, уруғxонанинг ярмини егаллаган. Уруғи йрик
                                    хажмли, кенг учли туxумсимон шаклда, оқ тусли. Ертапишар нав, майсалар пайдо бўлишидан этилгунига
                                    қадар ўсув даври 60-65 кун. қурғоқчиликка чидамли, фузариоз сўлиш ва ун шудринг касалликларига чидамлилиги-
                                    ўрта. Хосилдорлиги 14-25 т/га. Ташишга чидамлиги ва сақланувчанлиги- ёмон. Маxаллий нав.
                                    Республика бўйича раёнлашган.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Торпеда</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/torpeda.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Торпеда. </b>Торпеда қовуни Ўзбекистонда Мирзачўл қовуни деб хам аталади.
                                    Бу кечпишар нав бўлиб, қўчиришга чидамлидир.
                                    Мева эти жуда қўп фойдали моддаларга бойдир, ундан ташқари, такрорланмас там ва ажойиб хидга эгадир.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h_1"><b>Хоразм гурваклари</b></p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/gurvak1.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Оқ гурвак </b> ўсимлик ўрта ўлчамли, палаги- узун. Барги буйраксимон шаклда, ўрта хажмли. Гули гермофродит,
                                    еркак жинсли.</h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/gurvak2.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Кўк гурвак </b>   ўсимлик ўрта ўлчамли, палаги- узун. Барги буйраксимон шаклда, ўрта хажмли. Гули гермофродит
                                    еркак жинсли. Меваси думалоқ ёки овалсимон шаклда, йирик хажмли.</h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/gurvak3.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Ола гурвак </b>  ўсимлик ўрта ўлчамли, палаги- узун. Барги буйраксимон шаклда, ўрта хажмли. Гули гермофродит,
                                    еркак жинсли. Меваси думалоқ шаклда, қирра учли, йирик хажмли, кам холларда овалсимон, ўрта хажмли.</h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h_1"><b>Бошқа навлар</b></p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/11.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

