<div class="row-fluid">
    <div class="col-cs-12">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/assets/images/223344.gif" width="100%">
                    <div class="carousel-caption">
                        <h4>There is space for HyperMarkets photos</h4>
                        <div class="container"></div>
                        <div class="container-fluid">afs</div>
                        <div class="dropdown clearfix"></div>
                        <div class="btn-group btn-group-vertical">

                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/images/662222.gif" width="100%">
                    <div class="carousel-caption">
                        <h4>There is space for HyperMarkets photos</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/images/119922.gif" width="100%">
                    <div class="carousel-caption">
                        <h4>There is space for HyperMarkets photos</h4>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
</div>

<div class="container">
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="h4"><b>New computers</b></p></div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <img class="img-responsive" src="/assets/images/komp.jpg"/>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <p>gdxfgf gdgd dgdfgffg grgrgr ryyytgsevv fdgdrgd
                                dgdgdfgrtyb  erggrv rgrgreg resergr.
                                Asperiores blanditiis et fugiat h
                                ic minus, tempore temporibus! Autem
                                doloribus hic iste praesentium quaerat
                                doloribus hic iste praesentium quaerat
                                recusandae totam? Consequatur ducimus eligendi
                                in incidunt necessitatibus obcaecati quaerat quibusdam
                                sapiente, sunt voluptates! Accusamus ad maiores, nemo nobis
                                odio perferendis repellendus, repudiandae similique sunt temporibus,</p>

                            <div class="pull-right">
                                <button class="btn btn-primary">&nbsp;&nbsp; READ MORE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="h4"><b>New computers</b></p></div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <img class="img-responsive" src="/assets/images/komp.jpg"/>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <p>gdxfgf gdgd dgdfgffg grgrgr ryyytgsevv fdgdrgd
                                dgdgdfgrtyb  erggrv rgrgreg resergr.
                                Asperiores blanditiis et fugiat h
                                ic minus, tempore temporibus! Autem
                                doloribus hic iste praesentium quaerat
                                doloribus hic iste praesentium quaerat
                                recusandae totam? Consequatur ducimus eligendi
                                in incidunt necessitatibus obcaecati quaerat quibusdam
                                sapiente, sunt voluptates! Accusamus ad maiores, nemo nobis
                                odio perferendis repellendus, repudiandae similique sunt temporibus,</p>

                            <div class="pull-right">
                                <button class="btn btn-primary">&nbsp;&nbsp; READ MORE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-head">
                    <p class="h_1"><b>Yangiliklar</b></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <img class="img-responsive" src="/assets/images/fruits1.jpg"/>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                            <ul class="list-inline">
                                <li><a href="#">8 comments </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <img class="img-responsive" src="/assets/images/fruits1.jpg"/>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                            <ul class="list-inline">
                                <li><a href="#">8 comments </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-head">
                    <p class="h_1"><b>Boshqa saytlar</b></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <img class="img-responsive" src="/assets/images/fruits1.jpg"/>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                            <ul class="list-inline">
                                <li><a href="#">8 comments </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

