<div class="row-fluid">
    <div class="col-cs-12">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/assets/images/111.png" width="100%">
                </div>
                <div class="item">
                    <img src="/assets/images/222.png" width="100%">
                </div>
                <div class="item">
                    <img src="/assets/images/333.png" width="100%">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
</div>

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-warning text-capitalize  shrift text-center thumbnail">Ширин қовунлар мамлакатига хуш келибсиз!</h1>
        </div>
    </div>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h4"><b>Амири</b></p></div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/amiri.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <p class="text-justify">
                                    O’simlik o’rta o’lchamli, palagi- o’rta uzunlikda. Bargi buyraksimon shaklda, qirqilmagan. Guli ayirim
                                    jinsli. Mevasi uzunchoq tsilindrsimon shaklda, uchlari to’mtoq. Meva vazni 2,0-3,0 kg. Meva yuzasi bir
                                    oz notekis, rangi yorqin sariq. Surati- yashil-qizg’ish tasmachalar. To’rsiz. Po’chog’i yumshoq. Meva eti qalin,
                                    pushti-oq tusli, eruvchan, mayin, shirali, juda shirin. Urug’xonasi o’rta hajmli. Urug’xona rangi- pushti.
                                    Urug’donlari yopiq, g’ovaksimon. Urug’i o’rta hajmli, nashtarsimon shaklda, silliq, sariq tusli. Tezpishar
                                    nav, maysalar paydo bo’lishidan yetilguniga qadar o’suv davri 70-76 kun. Hosildorligi 13-15 t/ga. Tashishga
                                    chidamliligi va saqlanuvchanligi- yomon. Ko’chat usulida vaqtinchalik plyonka ostida etishtiriladi.
                                    O’zSPEKITI va ToshDAU selektsiyasi navi. Zuev V.I., Ganixo’jaeva R.A., Karimshоev U. va Halimova M.U.
                                    tomonidan yaratilgan. Respublika bo’yich rayonlashgan.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h4"><b>Челаки</b></p></div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/chelyaki.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <p class="text-justify">
                                    Chelyak. "Tarpedaga" ohshab ketadigan katta qovunlar, lekin dumoloqrok shakilli. Tamlari bir biriga ohshash.
                                    Наверное, очень близкие родственники.
                                    Челяки продаются под общим брендом «узбекская дыня
                                    торпеда».
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Қизил қовун</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img  class="img-responsive" src="/assets/images/qizil_qovun.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Qizil qovun.</b>  Внутренность имеет
                                    характерный оранжевый цвет. На вкус оригинально
                                    приятна и имеет много  поклонников среди местного населения.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Босиболди</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/basvaldi.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Басвальди.</b> Относительно редкий сорт дынь с
                                    зеленоватой мякотью внутри. Очень похожа на Амири.
                                    Имеет оригинальный вкус, что-то типа травяной сбор
                                    +мед. Я был приятно удивлен такому интересному
                                    сочетанию. Басвальди – одно из главных моих
                                    вкусовых открытий за последние годы.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Кўкча</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/kukcha.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Кукча.</b> Один из самых распространенных сортов
                                    узбекских дынь. На меня не произвел особого
                                    впечатления на фоне других разновидностей. Твердая
                                    мякоть, сладкий, но не насыщенный вкус.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Жўра қовун</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/jura_kovun.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Жура Говун.</b> Очень интересный и, видимо, редкий
                                    сорт. Пробовал всего один раз и сколько потом искал,
                                    не смог найти. Оригинальный вкус, очень сладкий и
                                    насыщенный.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Оби навот</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/obi_navod.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    <b>Оби Навват.</b> Круглые почти правильной формы дыни
                                    ярко желтой окраски. Сорт популярен, благодаря
                                    своему яркому насыщенному вкусу. Название
                                    переводится как «Сладкий нектар». Действительно
                                    одна из самых сладких и потому распространенных
                                    узбекских дынь.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Маҳаллий сариқ ҳандалак</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img  class="img-responsive" src="/assets/images/kondolyaki.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    O’simlik o’rta o’lchamli, palagi o’rta uzunlikda. Bargi buyraksimon shaklda, o’rta hajmli. Guli germofrodit,
                                    erkak jinsli. Mevasi yapaloq shaklda, o’rta hajmli. Meva vazni 0,8-2,0 kg. Meva yuzasi bir oz tilim,
                                    rangi sariq. Surati- bogim chegaralarida sariq-yashil tasmachalar. To’ri to’la, meva yuzasini yoppasiga
                                    qoplagan, mayda katakli, mevabandida esa quyuqroq. Po’chog’i yumshoq. Meva eti o’rta qalin, sarg’ish
                                    tusli, g’ovaksimon, shirali, mayin, shirin. Quruq modda miqdori - 7,3-8,9%, umumiy qand moddasi miqdori
                                    - 6,1-7,8%. Urug’xonasi o’rta hajmli. Urug’donlari nam, urug’xonaning yarmini egallagan. Urug’i yirik
                                    hajmli, keng uchli tuxumsimon shaklda, oq tusli. Ertapishar nav, maysalar paydo bo’lishidan yetilguniga
                                    qadar o’suv davri 60-65 kun. Qurg’oqchilikka chidamli, fuzarioz so’lish va un shudring kasalliklariga chidamliligi-
                                    o’rta. Hosildorligi 14-25 t/ga. Tashishga chidamligi va saqlanuvchanligi- yomon. Maxalliy nav.
                                    Respublika bo’yicha rayonlashgan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><b>Торпеда</b></h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <img class="img-responsive" src="/assets/images/torpeda.png"/>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-justify">
                                    Узбекские дыни – самые сладкие дыни. Дыня Торпеда в Узбекистане называется мирзачульской дыней.
                                    Это поздний сорт, хорошо переносящий транспортировку.
                                    Мякоть Торпеды богата полезными веществами, кроме того, она обладает непревзойденным вкусом и нежным ароматом.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h_1"><b>Хоразм гурваклари</b></p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/gurvak1.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Оқ гурвак </b>  O’simlik o’rta o’lchamli, palagi- uzun. Bargi buyraksimon shaklda, o’rta hajmli. Guli germofrodit,
                                    erkak jinsli.</h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/gurvak2.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Кўк гурвак </b>  O’simlik o’rta o’lchamli, palagi- uzun. Bargi buyraksimon shaklda, o’rta hajmli. Guli germofrodit,
                                    erkak jinsli. Mevasi dumaloq yoki ovalsimon shaklda, yirik hajmli.</h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/gurvak3.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Ола гурвак </b>  O’simlik o’rta o’lchamli, palagi- uzun. Bargi buyraksimon shaklda, o’rta hajmli. Guli germofrodit,
                                    erkak jinsli. Mevasi dumaloq shaklda, qirra uchli, yirik hajmli, kam hollarda ovalsimon, o’rta hajmli.</h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <p class="h_1"><b>Бошқа навлар</b></p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="img-responsive" src="/assets/images/11.png"/>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                                <ul class="list-inline">
                                    <li><a href="#">8 comments </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

