<div class="container main-content">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="text-center"><strong>Ishtirokchining ma'lumotlarini kiritish</strong></h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <form id="CreateUserForm" name="CreateUserForm"  ng-controller="SignUpCtrl as vm"
                      class="form-horizontal" role="form" ng-submit="vm.signUp(user)">
                    <div class="form-group">
                        <label for="inp-name" class="color-black"></label>
                        <input type="text" class="form-control" id="inp-name"
                        name="name" required="" placeholder="Ismi" ng-model="user.firstName">
                    </div>
                    <div class="form-group">
                        <label for="inp-secondname" class="color-black"></label>
                        <input type="text" class="form-control" id="inp-secondname"
                        placeholder="Otasining ismi" required="" name="secondname" ng-model="user.lastName">
                    </div>
                    <div class="form-group">
                        <label for="inp-adress" class="color-black"></label>
                        <input type="text" class="form-control" id="inp-adress"
                        name="adress" required="" placeholder="Yashash manzili" ng-model="user.address">
                    </div>
                    <div class="form-group">
                        <label for="inp-login" class="color-black"></label>
                        <input type="text" class="form-control" id="inp-login"
                        name="login" required="" placeholder="Foydalanuvchi emaili"  ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <label for="inp-pass" class="color-black"></label>
                        <input type="password" class="form-control" id="inp-pass"
                        name="pass" required="" placeholder="Foydalanuvchi paroli" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <label for="inp-confPass" class="color-black"></label>
                        <input type="password" class="form-control" id="inp-confPass"
                        name="confPass" required="" placeholder="Parolni qayta kiriting">
                    </div>
                    <br>
                    <button type="reset" class="btn btn-primary btn-block">Bekor qilish</button>
                    <button type="submit" class="btn btn-primary btn-block">Saqlash</button>
                </form>
            </div>
            <br>
        </div>
        <br/>
    </div>
</div>
