@(page: String)
<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Test tizimi</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Uzbekistan testing system, test tizimi, Urgench, Xorazm, Khorezm, Qovun sayli" />

        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href='@routes.Assets.at("lib/ng-grid/ng-grid.css")'>
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.css")">
        <link href='@routes.Assets.at("lib/roboto-fontface/roboto-fontface.css")' rel='stylesheet:100,300,400,500,600,700,800,900' type='text/css'>
        <link rel="stylesheet" href='@routes.Assets.at("lib/font-awesome/css/font-awesome.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'>


        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/css/jquery.fileupload-ui.css")'>
            <!-- CSS adjustments for browsers with JavaScript disabled -->
        <noscript><link rel="stylesheet" href='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/css/jquery.fileupload-noscript.css")'></noscript>
        <noscript><link rel="stylesheet" href='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/css/jquery.fileupload-ui-noscript.css")'></noscript>

        <script src='@routes.Assets.at("lib/jquery/jquery.js")' type='text/javascript'></script>
        <script src='@routes.Assets.at("lib/angular/angular.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("lib/angular-ui-router/angular-ui-router.min.js")' type='text/javascript'></script>
        <script src='@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("lib/angular-animate/angular-animate.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("lib/angularjs/angular-resource.js")' type='text/javascript'></script>
        <script src='@routes.Assets.at("lib/angular-ui-sortable/sortable.js")' type='text/javascript'></script>
        <script src='@routes.Assets.at("lib/angular-growl/angular-growl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("lib/ng-grid/ng-grid.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("lib/angular-strap/angular-strap.min.js")'type="text/javascript"></script>
        <script src='@routes.Assets.at("lib/angular-strap/angular-strap.tpl.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("js/responsiveslides.min.js")'></script>
        <script src='@routes.Assets.at("js/easyResponsiveTabs.js")'></script>
        <script src='@routes.Assets.at("js/scripts.js")'></script>
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js")'></script>
            <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
            <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
            <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <!-- blueimp Gallery script -->
        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
            <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/jquery.iframe-transport.js")'></script>
            <!-- The basic File Upload plugin -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js")'></script>
            <!-- The File Upload processing plugin -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/jquery.fileupload-process.js")'></script>
            <!-- The File Upload image preview & resize plugin -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/jquery.fileupload-image.js")'></script>
            <!-- The File Upload validation plugin -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/jquery.fileupload-validate.js")'></script>
            <!-- The File Upload Angular JS module -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/jquery.fileupload-angular.js")'></script>
            <!-- The main application script -->
        <script src='@routes.Assets.at("js/jQuery-File-Upload-9.9.3/js/app.js")'></script>
            <!-- Coffee script compiled resources-->
        <script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/common/GlobalVariables.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/common/StateProvider.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/directives/Rest.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/directives/FileManager.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/UserCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/QuestionsCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/HeaderCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/AdminCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/PassTestCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/FileUploadDestroyCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/SignUpCtrl.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/ctrls/AddQuestionCtrl.js")' type="text/javascript"></script>
    </head>
    <body>
    @main("company"){
        @header("home")
    }
    </body>
</html>
