@main("Savollar ro'yhati") {
    @navbarAdmin("questionListAdmin")

    <div class="container">
        <h1 class="text-center">Savollar Ro'yhati</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Savol</th>
                    <th>O'chirish/O'zgartirish</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>doewijfrmieomv mfrkejfiouqwnedjf mfrokefjks mfrkfoeirjgutpasldkjfj fjgioredk fkof?</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-danger btn-xs">O'chirish</button>
                        </a>
                        <a href="#">
                            <button class="btn btn-warning btn-xs">O'zgartirish</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}