@main("Tizimga kirish") {
    <br/>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><a href="">Administrator b.b tizimga kirish</a></h2>
                </div>
                <div class="panel-body">
                    <form class="form-group">
                        <div class="row">
                            <div class="col-xs-2">
                                <label for="login" class="form-control-static"><b>Login:</b></label>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" placeholder="*******" id="login"/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for="password" class="form-control-static"><b>Parol:</b></label>
                            </div>
                            <div class="col-xs-10">
                                <input type="password" placeholder="*******" class="form-control" id="password"/>
                            </div>
                        </div>
                        <br/>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
}